muleHttpsConnection-httpsCode/myfirsthttpsproj/src/main/mule/myfirsthttpsproj.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tls="http://www.mulesoft.org/schema/mule/tls" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd">
	
	<flow name="myFirstHttpProj_flow" doc:id="cf3357c6-fc80-47ef-927a-ccc0a4f12dc9" >
		<http:listener doc:name="Listener" doc:id="71e84c12-871e-4644-91b3-f001c36e3e42" config-ref="HTTP_Listener_config" path="/httpSample"/>
		<logger level="INFO" doc:name="infoLogger" doc:id="1926f551-c84c-4e17-ab79-2c66a554a04e" message="---http flow started---"/>
		<logger level="DEBUG" doc:name="debugLogger" doc:id="7c68bb47-2ecf-4a32-8e99-0f8bd2850ee9" message="----flow started with #[payload] -----" category="${debug.category}"/>
		<http:request method="GET" doc:name="httpsRequest" doc:id="1e4ca5ae-f092-43ff-a6ae-976c9ca11a0b" config-ref="HTTPS_Request_configuration" path="/httpsSample"/>
		<ee:transform doc:name="outPutJson" doc:id="4a1f593b-ca04-48f5-b635-3f096a5b5349" >
			<ee:message >
				<ee:set-payload resource="dwl/httpsFinalResult.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="debugLogger" doc:id="3afce1c8-8c9c-488e-82b0-24fe74f7be04" message="---flow completed with : #[payload]---" category="${debug.category}"/>
		<logger level="INFO" doc:name="infoLogger" doc:id="56d23a20-bc6f-415b-aaf3-ead1cf37eaf4" message="----flow completed----"/>
	</flow>
	<flow name="myFirstHttpsProj_flow" doc:id="ae684a2e-70ca-443e-91bb-760d09f5a3ff" >
		<http:listener doc:name="Listener" doc:id="2ceb00e9-c84f-4c58-a2ad-30fba2429ee8" config-ref="HTTPS_Listener_config" path="/httpsSample"/>
		<logger level="INFO" doc:name="infoLogger" doc:id="aa2f368c-aae7-4ee5-bed5-1795509fb339" message="---https connection flow started----"/>
		<logger level="DEBUG" doc:name="debugLogger" doc:id="b66a0b12-6a90-4d0f-99b0-a93e649cb066" message="--- payload from http flow : #[payload]" category="${debug.category}"/>
		<ee:transform doc:name="httpsPayload" doc:id="5878fba1-2e19-4383-a5c0-af3ded8b3a60" >
			<ee:message >
				<ee:set-payload resource="dwl/httpsPayload.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="debugLogger" doc:id="cb192775-119e-43b3-a955-b3c6cf6ef1c4" message="---https payload: #[payload] ---" category="${debug.category}"/>
		<logger level="INFO" doc:name="infoLogger" doc:id="ce4dc600-7d6c-4f3a-885b-9ce6121a6db6" message="--- https call is successful ---"/>
	</flow>
</mule>
