invokejavamethod/src/main/mule/invokejavamethod.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9bcb4362-01c6-4a75-a7d7-007477c14cab" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="invokejavamethodFlow" doc:id="0eaf4369-4272-4a27-910b-b2e7aa3a7f74" >
		<http:listener doc:name="Listener" doc:id="417ee8dc-b489-478e-a24b-9ae7aa8d0c92" config-ref="HTTP_Listener_config" path="/javastatic"/>
		<java:invoke-static doc:name="Invoke static" doc:id="4adcbdaf-b172-4ce8-bc7f-1d6898190e27" class="invokejavamethod.Stringoperations" method="concat(java.lang.String,java.lang.String)">
			<java:args ><![CDATA[#[%dw 2.0
output application/java
---
{
	a: (attributes.queryParams.a as String default ""),
	b: "test2"
}]]]></java:args>
		</java:invoke-static>
	</flow>
	<flow name="invokejavamethodFlow1" doc:id="6bdb11fb-7426-44be-bc49-a8812f3cd184" >
		<http:listener doc:name="Listener" doc:id="a8c19313-cf0a-47be-a5e8-99cf3159f025" config-ref="HTTP_Listener_config" path="java"/>
		<java:new constructor="Stringoperations()" doc:name="New" doc:id="e888b144-2a0d-4793-8c98-03695ad8e83b" class="invokejavamethod.Stringoperations" target="str_obj"/>
		<java:invoke method="multiconcat(java.lang.String,java.lang.String,java.lang.String)" doc:name="Invoke" doc:id="d0c88322-df69-4265-a018-540ede2330a5" instance="#[vars.str_obj]" class="invokejavamethod.Stringoperations">
			<java:args ><![CDATA[#[%dw 2.0
output application/java
---
{
	a: attributes.queryParams.a,
	b: attributes.queryParams.b,
	c: attributes.queryParams.c
}]]]></java:args>
		</java:invoke>
	</flow>
</mule>
